

.days {
    display: flex;
    flex-direction: column; 
  }
  
  .days input {
    margin: 5px; 
    padding: 10px; 
    border: 1px solid #ccc; 
  }
  .daysCont {
    display: flex;
    /* justify-content: left; */
    align-items: center;
    background-color: yellow;
    padding: 10px;
  }

  .headers{
    margin-left: 50px;
  }

  .habNbtn{
    display: flex;
  }